* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.conatiner {
  max-width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    url("./image/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.conatiner h1 {
  color: #fff;
  text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 1.9px;
  font-size: 50px;
  font-weight: bold;
  animation: example 5s 2s infinite alternate;
}
h1:hover {
  color: black;
  cursor: pointer;
}

@keyframes example {
  0% {
    color: red;
  }
  25% {
    color: #fff;
  }
  50% {
    color: yellow;
  }
  100% {
    color: #fff;
  }
}
